<%= form_with(model: print, local: true) do |form| %>
  <% if print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(print.errors.count, "error") %> prohibited this print from being saved:</h2>

      <ul>
      <% print.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material %>
  </div>

  <div class="field">
    <%= form.label :isFinished %>
    <%= form.check_box :isFinished %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
